@import "../../../utils/stylesVariables.scss";
.selectMenusContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 330px) {
  .container {
    flex-direction: column;

    label + span {
      margin-bottom: 10px;
    }
  }
}

select {
  color: rgba(187, 187, 187, 1);
  height: 34px;
  width: 99px;
  border-radius: 5px;
}

.select-dark {
  color: #BBBBBB;
  height: 34px;
  width: 99px;
  border-radius: 5px;
  background-color: $bg-color-dark;
}

label {
  color: $font-color;
  font-weight: 700;
}

.label-dark {
  color: $font-color-dark;
  font-weight: 700;
}

.h3-dark {
  color: $font-color-dark;
}
