@import "../../../utils/stylesVariables.scss";

.container {
  padding: 0 10px 10px 10px;

  h3 {
    margin-top: 0;
  }

  select {
    color: rgba(187, 187, 187, 1);
    height: 34px;
    width: 99px;
    border-radius: 5px;
  }

  .select-dark {
    color: #bbbbbb;
    height: 34px;
    width: 99px;
    border-radius: 5px;
    background-color: $bg-color-dark;
  }

  label {
    color: $font-color;
    font-weight: 700;
  }

  .label-dark {
    color: $font-color-dark;
    font-weight: 700;
  }

  .h3-dark {
    color: $font-color-dark;
  }
}
