@import "../../../utils/stylesVariables.scss";

.container {
  box-sizing: border-box;
  height: 300px;
  display: flex;
  position: relative;

  .bg-image-container {
    display: flex;
    align-items: flex-end;
    position: absolute;
    z-index: 0;
    bottom: -1px;

    img {
      width: 100%;
    }
  }

  .index-and-address-container {
    height: 50%;
    padding: 20px;

    position: absolute;
    z-index: 1;

    display: flex;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;

    .address-and-social-icons-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 40%;

      span {
        text-align: end;
        font-weight: 700;
      }

      .social-icons-container {
        margin-top: 15px;

        img:first-of-type {
          margin-right: 10px;
        }
      }
    }
  }
}

.index-description-container,
.last-submission-container {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
  }
}

.last-submission-container {
  background-color: $font-color;

  img {
    margin-right: 10px;
  }
}

.index-color-very-low {
  background-color: $index-very-low;
}

.index-color-low {
  background-color: $index-low;
}

.index-color-medium {
  background-color: $index-medium;
}

.index-color-high {
  background-color: $index-high;
}
.index-color-very-high {
  background-color: $index-very-high;
}

.index-bg-no-index {
  background-color: $bg-no-index;
}

.index-bg-very-low {
  background-color: $bg-index-very-low;
}

.index-bg-low {
  background-color: $bg-index-low;
}

.index-bg-medium {
  background-color: $bg-index-medium;
}

.index-bg-high {
  background-color: $bg-index-high;
}

.index-bg-very-high {
  background-color: $bg-index-very-high;
}
