@import "../../../utils/stylesVariables.scss";
.container {
  padding: 5px 10px;

  .p_dark {
    color: $font-color-dark;
  }

  .title-and-select-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: 16px;
      font-weight: 700;
    }

    select {
      color: rgba(187, 187, 187, 1);
      height: 34px;
      width: 99px;
      border-radius: 5px;
    }
    .select_dark {
      color: #bbbbbb;
      height: 34px;
      width: 99px;
      border-radius: 5px;
      background-color: $bg-color-dark;
    }

    .span_dark {
      color: $font-color-dark;
      font-size: 16px;
      font-weight: 700;
    }
  }

  .chart-container {
    position: relative;
    margin-top: 5px;

    .chart {
      height: 140px;
      padding-bottom: 10px;
    }

    .no-recent-data-overlay {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      z-index: 1;

      display: flex;
      justify-content: center;
      align-items: center;

      p {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        color: white;
      }
    }
  }
}
