.channelContainer {
  height: 40px;
  padding: 5px;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .statusContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: green;
    height: 40px;
    width: 40px;

    .iconContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      height: 35px;
      width: 35px;
      border-radius: 50%;
    }
  }
}
