@import "../../../../utils/stylesVariables.scss";

.container {
  width: 100%;
  padding: 5px 25px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $categories-bg-color;
  border-radius: 27px;
  margin-bottom: 10px;
  box-sizing: border-box;

  .main-container {
    width: 100%;
    height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 16px;
      font-weight: 700;
    }

    .icon-container {
      margin-right: 10px;
      svg {
        width: 45px;
        height: 45px;
      }

      svg path {
        fill: $font-color;
      }
    }

    .channel-name {
      flex-grow: 1;
    }

    button {
      all: unset;
      margin-left: 10px;
    }

    button:hover {
      cursor: pointer;
    }
  }

  .fill-percentage {
    width: 100%;
    height: 5px;
    display: flex;

    span {
      border-radius: 27px;
      height: 100%;
    }
  }

  .descriptionContainer {
    width: 100%;
    color: rgba(135, 158, 134, 1);

    p:first-of-type {
      margin-top: 0;
    }
  }
}

.index-color-very-low {
  background-color: $index-very-low;
}

.index-color-low {
  background-color: $index-low;
}

.index-color-medium {
  background-color: $index-medium;
}

.index-color-high {
  background-color: $index-high;
}
.index-color-very-high {
  background-color: $index-very-high;
}

.index-bg-no-index {
  background-color: $bg-no-index;
}

.index-bg-very-low {
  background-color: $bg-index-very-low;
}

.index-bg-low {
  background-color: $bg-index-low;
}

.index-bg-medium {
  background-color: $bg-index-medium;
}

.index-bg-high {
  background-color: $bg-index-high;
}

.index-bg-very-high {
  background-color: $bg-index-very-high;
}
