@import "../../utils/stylesVariables.scss";

.container {
  display: flex;
  flex-direction: column;

  button {
    all: unset;
    margin-bottom: 10px;
  }

  button:hover {
    cursor: pointer;

    svg circle {
      fill: rgba(236, 236, 236, 1);
    }
  }

  button:first-of-type {
  }
}
