@import "../../utils/stylesVariables.scss";

.container {
  width: 60px;
  height: 100%;
  background-color: $sideMenu-bg-color;

  box-shadow: $sideMenu-box-shadow;
}

.activeMenu {
  width: 90px;
}

.toggleMenu {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    all: unset;
  }
}

.toggleMenu > button:hover {
  cursor: pointer;
}
