@import "../../utils/stylesVariables.scss";

.container {
  overflow-y: scroll;
  width: 700px;
  background-color: white;
  box-shadow: $sideMenuContent-box-shadow;
  padding: 20px;
  margin-left: 10px;
  height: 278%;
  position: relative;

  .closeBtnContainer {
    position: absolute;
    right: 30px;

    button {
      all: unset;
      position: fixed;
      background-color: white;
    }

    button:hover {
      cursor: pointer;
    }
  }
}

.container-dark {
  overflow-y: scroll;
  width: 700px;
  background-color: $bg-color-dark;
  box-shadow: $sideMenuContent-box-shadow;
  padding: 20px;
  margin-left: 10px;
  height: 278%;
  position: relative;
  color: white;

  .closeBtnContainer {
    position: absolute;
    right: 30px;

    button {
      all: unset;
      position: fixed;

      rect {
        fill: white;
      }
    }

    button:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 800px) {
  .container,
  .container-dark {
    width: 100%;

    img {
      width: 100%;
    }
  }
}
