@import "../../utils/stylesVariables.scss";

.container {
  position: absolute;
  z-index: 1;
  right: 0;

  height: 100%;
  width: 315px;
  background-color: $sideMenuContent-bg-color;
  box-shadow: $sideMenuContent-box-shadow;
}
