.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;

  .mapContainer {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader {
      position: absolute;
      z-index: 999;
    }

    .lightMode {
      filter: none;

      animation-name: lightMode;
      animation-duration: 1.2s;
    }

    .darkMode {
      filter: brightness(0.7) invert(1) contrast(3) hue-rotate(200deg)
        saturate(0.2);

      animation-name: darkMode;
      animation-duration: 1.2s;
    }
  }
}

@keyframes darkMode {
  0% {
    filter: brightness(0.7);
  }
  50% {
    filter: brightness(1) invert(1)  contrast(1)  hue-rotate(200deg)
       saturate(0.2);
  }
  100% {
    filter: brightness(0.7) invert(1) contrast(3) hue-rotate(200deg)
      saturate(0.2);
  }
}

@keyframes lightMode {
  0% {
    filter: brightness(0.7) invert(1) contrast(3) hue-rotate(200deg)
      saturate(0.2);
  }
  100% {
    filter: brightness(1);
  }
}
