.divIcon {
  background-color: grey;
  border: 2px solid white;
}

.indexLevel1 {
  background-color: #79bc6a;
}

.indexLevel2 {
  background-color: #bbcf4c;
}

.indexLevel3 {
  background-color: #eec20b;
}

.indexLevel4 {
  background-color: #f29305;
}

.indexLevel5 {
  background-color: #e8416f;
}
