@import "../../../../utils/stylesVariables.scss";

.container {
  box-sizing: border-box;
  height: 300px;
  display: flex;
  position: relative;

  .bg-image-container {
    display: flex;
    align-items: flex-end;
    position: absolute;
    z-index: 0;
    bottom: 0;

    img {
      width: 100%;
    }
  }

  .index-and-address-container {
    height: 50%;
    padding: 20px;

    position: absolute;
    z-index: 1;

    display: flex;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;

    .address-and-social-icons-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 40%;

      span {
        text-align: end;
        font-weight: 700;
      }

      .social-icons-container {
        margin-top: 15px;

        img:first-of-type {
          margin-right: 10px;
        }
      }
    }
  }
}

.index-level-no-index {
  background-color: $bg-no-index;
}

.index-level-very-low {
  background-color: $bg-index-very-low;
}

.index-level-low {
  background-color: $bg-index-low;
}

.index-level-medium {
  background-color: $bg-index-medium;
}

.index-level-high {
  background-color: $bg-index-high;
}

.index-level-very-high {
  background-color: $bg-index-very-high;
}
